html,
body {
    height: 100%;
}
body {
    height: 100%;
    font-family: 'Montserrat', sans-serif;
    color: #575B52;
    font-size: 14px;
    overflow-x: hidden;
}
textarea:focus,
input[type="text"]:focus {
    border-color: rgba(189, 208, 116, 0.8);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(189, 208, 116, 0.6);
    outline: 0 none;
}
.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.show>.btn-primary.dropdown-toggle,
.btn-primary:not(:disabled):not(.disabled).active:focus,
.btn-primary:not(:disabled):not(.disabled):active:focus,
.show>.btn-primary.dropdown-toggle:focus {
    background-color: rgba(189, 208, 116, 0.8);
    border-color: rgba(189, 208, 116, 0.6);
    box-shadow: 0 1px 1px rgba(255, 255, 255, 0.075) inset, 0 0 8px rgba(189, 208, 116, 0.6);
    outline: 0 none;
}
.tooltip-inner {
    max-width: 250px;
    padding: .25rem .5rem;
    color: #fff;
    font-size: 12px;
    text-align: center;
    background-color: #575B52;
    border-radius: .25rem;
}
.bs-tooltip-auto[x-placement^=top] .arrow::before,
.bs-tooltip-top .arrow::before {
    top: 0;
    border-width: .4rem .4rem 0;
    border-top-color: #575B52;
}
.container {
    position: relative;
    justify-content: center;
    align-items: center;
}
nobr {
    display: block;
}
.carousel-fade .carousel-item {
    opacity: 0;
    transition-duration: 1.2s;
    transition-property: opacity;
}
.carousel-fade .carousel-item.active,
.carousel-fade .carousel-item-next.carousel-item-left,
.carousel-fade .carousel-item-prev.carousel-item-right {
    opacity: 1;
}
.carousel-fade .active.carousel-item-left,
.carousel-fade .active.carousel-item-right {
    opacity: 0;
}
.carousel-fade .carousel-item-next,
.carousel-fade .carousel-item-prev,
.carousel-fade .carousel-item.active,
.carousel-fade .active.carousel-item-left,
.carousel-fade .active.carousel-item-prev {
    transform: translateX(0);
    transform: translate3d(0, 0, 0);
}
.navbar {
    position: absolute;
    width: 100%;
    background-color: transparent;
    top: 0;
    left: 0;
    z-index: 1000;
    transition: 0.5s;
}
.navbar-brand {
    margin-left: 0;
}
.navbar-brand img {
    width: 150px;
    filter: invert(100%) brightness(2000%);
}
.navbar-nav {
    margin-left: 0;
    flex-direction: column;
}
.nav-item {
    margin: 2% 0;
}
.nav-link {
    color: #585858 !important;
}
.navbar-toggler {
    position: absolute;
    right: 2%;
    border: none;
    outline: none;
    z-index: 30;
}
.navbar-toggler .bar {
    position: relative;
    width: 20px;
    height: 3px;
    margin: 3px 0;
    border-radius: 3px;
    background-color: #BCCE73;
    display: block;
    outline: none;
}
.navbar-collapse {
    position: absolute;
    width: 100%;
    top: 0;
    left: -500%;
    padding: 40px;
    background-color: #F8F8F8;
    transition: 1s ease-in-out;
}
.navbar-collapse.show {
    left: 0;
    transition: 1s ease-in-out;
}
@media (min-width: 768px) {
    .navbar {
        position: fixed;
        top: -100px;
        background-color: #F8F8F8;
    }
    .navbar-nav {
        margin-left: 10%;
        flex-direction: row;
    }
    .navbar-brand {
        margin-left: 5%;
    }
    .navbar-brand img {
        width: 150px;
        filter: invert(0) brightness(0);
    }
    .nav-item {
        margin: 0 3%;
    }
    .navbar-brand img {
        width: auto;
    }
    .navbar-collapse {
        position: relative;
        width: auto;
        top: auto;
        left: auto;
        padding: 0;
    }
}
@media (min-width: 992px) {
    .nav-item {
        margin: 0 20px;
    }
}
.navbar-show {
    top: 0;
    transition: .5s;
}
.btn-buy {
    display: inline-block;
    padding: 12px 40px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    color: #595959;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
    background: linear-gradient(180deg, #DDEF6D 0%, #BDD074 92.19%);
    border-radius: 40px;
    transition: .5s;
}
.btn-buy:hover {
    text-decoration: none;
    background: linear-gradient(180deg, #BDD074 0%, #DDEF6D 92.19%);
    color: #595959;
    transition: .5s;
}
.hero {
    position: relative;
    height: auto;
    background-color: #FFFAF5;
    padding: 0px 0 5px 0;
}
.hero .bg-left {
    position: relative;
    width: 100%;
    height: 200px;
    background: url("../../images/bg-hero-left.jpg") 10% center no-repeat #000;
    background-size: cover;
    z-index: 3;
}
.hero .bg-left::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.5;
}
.hero .bg-right {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: url("../../images/bg-hero.png") 80% top repeat-x;
    mix-blend-mode: multiply;
    opacity: 0.15;
    z-index: 2;
}
.hero .leoponce {
    position: relative;
    width: 90px;
    height: 160px;
    top: auto;
    right: auto;
    margin: -80px auto 0 auto;
    background: url("../../images/leoponce-frasco.png") center no-repeat;
    background-size: contain;
}
.hero .content {
    position: relative;
    background-color: transparent;
    box-shadow: none;
    z-index: 10;
}
.hero .green {
    position: absolute;
    top: 0;
    right: 0;
    width: 20%;
    height: 100%;
    background-color: #fff;
}
.hero .content h2 {
    font-size: 15px;
    font-weight: 500;
    line-height: 20px;
    text-align: center;
}
.hero .content h3 {
    font-size: 22px;
    font-weight: bold;
    line-height: 1.8rem;
    text-align: center;
    color: #575B52;
}
.hero .content ul {
    position: relative;
    max-width: 290px;
    margin: 20px auto;
    padding: 0;
    list-style: none;
}
.hero .content ul li {
    position: relative;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    display: block;
    padding: 3px 0 3px 35px;
    margin: 12px 0;
    color: #575B52;
}
.hero .content ul li::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 25px;
    height: 25px;
    background: url("../../images/check.svg") center no-repeat;
    background-size: contain;
}
.hero .leafs {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    display: none;
    z-index: 200;
}
.hero .leafs img {
    position: absolute;
}
.hero .btn-down {
    position: absolute;
    bottom: 5%;
    left: 50%;
    width: 100px;
    height: 65px;
    margin-left: -50px;
    z-index: 5;
}
.hero .btn-down .arrow {
    position: absolute;
    top: 0;
    left: 50%;
    width: 60px;
    height: 60px;
    margin-left: -20px;
    background: url("../../images/arrow.svg") center no-repeat #FFFAF5;
    background-size: 45%;
    border-radius: 60%;
    animation: Arrowdown .8s ease-in-out infinite;
}
.hero .btn-down .text {
    position: relative;
    width: 100px;
    top: 100%;
    bottom: 0;
    left: 10%;
    display: block;
    font-size: 14px;
    font-weight: 600;
    text-align: center;
}
.hero .leafs-hero-mobile {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 200;
}
.hero .leafs-hero-mobile img {
    position: absolute;
}
.leaf_mobile_1 {
    top: 15%;
    left: 0;
}
.leaf_mobile_2 {
    top: 30%;
    right: 0;
}
.leaf_1 {
    top: 10%;
    right: 16%;
}
.leaf_3 {
    top: -15%;
    right: -3%;
}
.leaf_4 {
    top: 22%;
    right: -8%;
}
.leaf_5 {
    top: 15%;
    right: 26%;
}
.leaf_6 {
    bottom: 0;
    right: -15%;
}
.leaf_7 {
    bottom: 10%;
    left: -15%;
}
.leafs-hero {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 900;
    pointer-events: none;
    display: none;
}
.leafs-hero img {
    position: absolute;
}
@keyframes Arrowdown {
    0% {
        top: 0;
    }
    50% {
        top: 4px;
    }
    100% {
        top: 0;
    }
}
@media (min-width: 992px) {
    .hero {
        background-color: #bdd074;
        height: 100vh;
        padding: 0;
    }
    .hero .bg-left {
        position: absolute;
        width: 30%;
        height: 100%;
        background-position: 47% top;
        z-index: -1;
    }
    .hero .bg-left::before {
        opacity: 0;
    }
    .hero .content {
        background-color: #FFFAF5;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
    }
    .hero .content ul {
        max-width: 280px;
        margin: 30px auto;
    }
    .hero .content h3 {
        font-size: 26px;
    }
    .leafs-hero,
    .hero .leafs {
        display: block;
    }
}
.hero-video {
    position: relative;
    width: 100%;
    height: auto;
    padding: 80px 15px 40px 15px;
    background: url("../../images/bg-hero-left.jpg") center no-repeat #000;
    background-size: cover;
}
.hero-video .brand {
    margin: 0 -15px -10% -15px;
    padding: 10% 0 0 0;
}
.hero-video .brand img {
    filter: invert(100%) brightness(2000%);
}
.hero-video::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(39, 39, 39, 0.7);
    z-index: 2;
}
.hero-video h2 {
    font-size: 15px;
    font-weight: 500;
    line-height: 1.5rem;
    color: #fff;
    max-width: 145px;
}
.hero-video h3 {
    font-size: 32px;
    font-weight: bold;
    line-height: 2.5rem;
    color: #fff;
    text-align: left;
}
.hero-video nobr {
    display: contents;
    white-space: normal;
}
.hero-video .container {
    position: relative;
    z-index: 5;
}
.hero-video .embed-responsive-item {
    border-radius: 15px;
    border: 2px solid #fff;
}
.hero-video .leafs {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    display: none;
    z-index: 200;
}
.hero-video .leafs img {
    position: absolute;
}
.hero-video .leaf_1 {
    top: 47%;
    right: 47%;
}
@media (min-width: 992px) {
    .hero-video {
        height: 100vh;
        padding: 0;
    }
    .hero-video h2 {
        font-size: 16px;
        max-width: 100%;
        text-align: left;
    }
    .hero-video h3 {
        font-size: 24px;
        line-height: 2.0rem;
        text-align: left;
    }
    .leafs-hero,
    .hero-video .leafs {
        display: block;
    }
}
@media (min-width: 1600px) {
    .hero .bg-left {
        width: 43%;
        background-position: 60% top;
    }
}
.leaf-cart {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 900;
    pointer-events: none;
    display: none;
}
.leaf-cart img {
    position: absolute;
}
.leaf_cart_1 {
    top: -5%;
    right: -10%;
}
.leaf_cart_2 {
    top: 50%;
    right: -10%;
}
.leaf_cart_3 {
    top: 38%;
    left: -2%;
}
.leaf_cart_4 {
    top: 70%;
    left: -2%;
}
.leaf-cart-mobile {
    position: absolute;
    width: 100%;
    height: 110%;
    top: -60px;
    left: 0;
    z-index: 900;
    pointer-events: none;
}
.leaf-cart-mobile img {
    position: absolute;
}
.leaf-cart-mobile-1 {
    top: -3%;
    right: 13%;
}
.leaf-cart-mobile-2 {
    top: 20%;
    left: -8%;
}
.leaf-cart-mobile-3 {
    top: 74%;
    right: -5%;
}
.leaf-cart-mobile-4 {
    top: 82%;
    left: -10%;
}
.hero-cart {
    position: relative;
    background-color: #FFF;
    padding: 0;
    overflow: hidden;
}
.hero-cart .container {
    z-index: 4;
}
.hero-cart::after {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 450px;
    background-color: #bdd074;
    z-index: 2;
}
.hero-cart .content {
    padding: 0 15px;
    background-color: transparent;
    box-shadow: none;
    border-radius: 10px;
    font-weight: normal;
    font-size: 16px;
    line-height: 1.8rem;
}
.hero-cart .content h2 {
    font-size: 20px;
    padding-bottom: 20px;
}
.hero-cart .legend {
    font-weight: normal;
    font-size: 12px;
    color: #42453D;
}
.btn-buy {
    min-width: 280px;
    text-align: center;
}
.hero-cart .btn-buy.disabled {
    padding: 10px 40px;
    border: 2px solid #FFF;
    font-size: 12px;
    background: transparent;
    color: #FFF;
}
.hero-cart .content .information-product {
    transform-style: preserve-3d;
    position: relative;
    margin: 0 auto;
    top: auto;
    right: auto;
    background-color: #FFF;
    box-shadow: none;
    border-radius: 10px;
    border: 1px solid rgba(94, 110, 83, 0.2);
}
.hero-cart .content .information-product .header {
    transform-style: preserve-3d;
    position: relative;
    background-color: #DEF073;
    border-radius: 10px 10px 0 0;
    min-height: 220px;
}
.hero-cart .content .information-product .header img {
    position: absolute;
    width: 300px;
    top: 0;
    left: 50%;
    margin-left: -150px;
    transform-style: preserve-3d;
    transition: all .5s ease-in-out;
    transform: translateZ(40px);
}
.hero-cart .content .information-product .main {
    min-width: 100%;
    padding: 20px 15px;
    transform-style: preserve-3d;
    transition: all .5s ease-in-out;
    transform: translateZ(20px);
}
.hero-cart .content .information-product .main hr {
    margin: 20px -20px 0 -20px;
}
.hero-cart .content .information-product .main h2 {
    font-weight: bold;
    font-size: 30px;
    padding-bottom: 0;
    text-transform: uppercase;
    color: #575B52;
}
.hero-cart .content .information-product .main h4 {
    font-weight: normal;
    font-size: 14px;
    color: #575B52;
}
.hero-cart .content .information-product .main .main {
    padding: 10px 0 0 0;
    text-align: left;
    font-family: 'Heebo', sans-serif;
    font-size: 14px;
}
.hero-cart .content .information-product .main .main strike {
    display: block;
    padding: 3px 0;
}
.hero-cart .content .information-product .main .main .price {
    font-size: 16px;
}
.hero-cart .content .information-product .main .main .in-cash {
    font-size: 16px;
}
.hero-cart .content .information-product .main .main .in-cash b {
    font-size: 45px;
    letter-spacing: -1.5px;
}
@media (min-width: 992px) {
    .hero-cart {
        background-color: #bdd074;
        padding: 0 0 100px 0;
    }
    .hero-cart .content {
        padding: 20px 25px;
        background-color: #FFF;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
    }
    .hero-cart .content .information-product {
        position: absolute;
        margin: auto;
        top: 40px;
        right: -200px;
        border: 1px solid rgba(94, 110, 83, 0.2);
        box-shadow: 0px 11.7795px 41.4256px #00000012, 0px 100px 185px rgba(0, 0, 0, 0.16);
        border: 0;
        ;
    }
    .hero-cart .content h2 {
        font-size: 2rem;
        padding-bottom: 15px;
    }
    .hero-cart .content .information-product .header img {
        width: 450px;
        top: -50px;
        left: 50%;
        margin-left: -225px;
    }
    .hero-cart .content .information-product .main {
        min-width: 370px;
        padding: 20px;
    }
    .hero-cart .content .information-product .main .main {
        padding: 10px 60px 0 60px;
    }
    .hero-cart .content .information-product .main .main .in-cash b {
        font-size: 50px;
    }
    .hero-cart .btn-buy.disabled {
        border: 2px solid #C9C9C9;
        color: #C9C9C9;
    }
}
.brand-cart img {
    filter: invert(0) brightness(0);
}
.header-cart .line-cart {
    position: relative;
    list-style: none;
    margin: 40px auto 20px auto;
    padding: 0;
}
.header-cart .line-cart li {
    position: relative;
    width: 60px;
    margin: 0 12px;
    display: inline-block;
    text-align: center;
}
.header-cart .line-cart li:after {
    content: '';
    position: absolute;
    width: 30px;
    height: 2px;
    top: 50%;
    margin-top: -15px;
    left: 60px;
    background-color: #A7D59D;
}
.header-cart .line-cart li:first-child {
    margin-left: 10px;
    margin-right: 12px;
}
.header-cart .line-cart li:last-child {
    margin-right: 0;
}
.header-cart .line-cart li:last-child:after {
    display: none;
}
.header-cart .line-cart .ico {
    position: relative;
    display: block;
    width: 36px;
    height: 36px;
    background: #FEFEFE;
    border: 2px solid #A7D59D;
    box-sizing: border-box;
    border-radius: 25px;
    padding: 5px 7px;
    margin: 0 auto;
}
.header-cart .line-cart .text {
    display: block;
    font-size: 10px;
    color: #575B52;
    padding: 5px 0;
}
@media (min-width: 992px) {
    .header-cart .line-cart li {
        width: 45px;
        margin: 0 55px;
    }
    .header-cart .line-cart li:first-child {
        margin-left: 0;
        margin-right: 55px;
    }
    .header-cart .line-cart li:after {
        width: 80px;
        left: 60px;
        background-color: #FEFEFE;
    }
    .header-cart .line-cart .text {
        color: #FEFEFE;
        font-size: 12px;
    }
}
.results {
    position: relative;
    background-color: #F7F8F2;
    padding: 30px 0;
}
.results .bg-green {
    position: absolute;
    width: 100%;
    height: 37%;
    left: 0;
    bottom: 0;
    background-color: #EBF2C2;
}
.results h2 {
    font-weight: 500;
    font-size: 20px;
    line-height: 27px;
    text-transform: uppercase;
}
.results h3 {
    font-weight: bold;
    font-size: 24px;
    text-transform: uppercase;
}
.results .img-frascos {
    position: relative;
    margin: 0 auto;
    display: none;
}
.results .text-indicator {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.5rem;
    text-align: center;
    color: #575B52;
    display: block;
}
.leafs-mobile-results {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 900;
    pointer-events: none;
}
.leafs-mobile-results img {
    position: absolute;
}
.leaf_mobile_3 {
    top: 5%;
    right: 0;
}
.leaf_mobile_4 {
    top: 30%;
    left: -15px;
}
.leafs-results {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 900;
    pointer-events: none;
    display: none;
}
.leafs-results img {
    position: absolute;
}
.leaf_8 {
    bottom: 10%;
    right: -10%;
}
.images-compare-container {
    display: inline-block;
    position: relative;
}
.images-compare-before {
    will-change: clip;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    pointer-events: none;
    overflow: hidden;
}
.images-compare-after {
    pointer-events: none;
}
.images-compare-before img,
.images-compare-after img {
    max-width: 100%;
    height: auto;
    display: block;
}
.images-compare-separator {
    position: absolute;
    background: white;
    height: 100%;
    width: 4px;
    z-index: 4;
    left: 0;
    top: 0;
}
.images-compare-separator::before {
    content: '';
    width: 24px;
    height: 15px;
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -12px;
    background: url("../../images/separetor-arrow.svg") center no-repeat;
    transform: rotate(180deg);
}
.images-compare-separator::after {
    content: '';
    width: 24px;
    height: 15px;
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -12px;
    background: url("../../images/separetor-arrow.svg") center no-repeat;
}
.images-compare-handle {
    position: absolute;
    height: 400px;
    width: 44px;
    left: 50%;
    bottom: -8px;
    margin-left: -22px;
    background: url("../../images/ico.png") center no-repeat;
    z-index: 8;
    cursor: pointer;
}
@media (min-width: 750px) {
    .results {
        padding: 75px 0;
    }
    .results .img-frascos {
        display: inline-block;
    }
    .images-compare-handle {
        bottom: -5px;
        height: 800px;
    }
    .leafs-results {
        display: block;
    }
}
@media (min-width: 992px) {
    .results {
        padding: 75px 0;
    }
    .results .img-frascos {
        display: inline-block;
    }
    .images-compare-handle {
        bottom: -6px;
        height: 45px;
    }
    .leafs-results {
        display: block;
    }
}
.about {
    position: relative;
    background-color: #FFFAF5;
    padding: 0;
}
.about h2 {
    position: relative;
    color: #FFF;
    font-weight: bold;
    font-size: 20px;
    line-height: 1.5rem;
    text-transform: uppercase;
    padding: 40px 0 0 0;
    margin: 0 0 -140px 0;
    z-index: 6;
}
.about .modelo {
    position: relative;
    width: 100%;
    min-height: 150px;
    background: url("../../images/jnp.jpg") center no-repeat #000;
    background-size: cover;
}
.about .modelo::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
}
.about .modelo1 {
    position: relative;
    width: 100%;
    min-height: 150px;
    background: url("../../images/jnp.jpg") center no-repeat #000;
    background-size: cover;
}
.about .carousel {
    position: relative;
    z-index: 4;
}
.about .bg-carousel-green {
    background-color: #FFF;
}
.about .carousel-indicators {
    position: relative;
    min-height: auto;
    right: auto;
    bottom: auto;
    left: auto;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.about .carousel-indicators li {
    position: relative;
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    font-size: 12px;
    text-indent: initial;
    cursor: pointer;
    background-color: #bdd074;
    border: none;
    opacity: 1;
    transition: .6s ease-in-out;
    text-align: center;
}
.about .carousel-indicators li:hover span {
    color: #bdd074;
    transition: .6s ease-in-out;
}
.about .carousel-indicators li.active span {
    color: #FFF;
    transition: .6s ease-in-out;
}
.about .carousel-indicators li span {
    display: block;
    margin: 0 10px;
    padding: 15px 0;
    transition: .6s ease-in-out;
}
.about .carousel-indicators li::after {
    content: '';
    position: absolute;
    width: 0;
    height: 3px;
    bottom: 0;
    right: 50%;
    background-color: #FFF;
    transition: .6s ease-in-out;
}
.about .carousel-indicators li.active::after {
    width: 100%;
    right: 0;
    background-color: #575b52;
    transition: .6s ease-in-out;
}
.about .carousel-inner {
    overflow: unset;
}
.about .carousel-content {
    position: relative;
    padding: 40px 40px 160px 40px;
    min-height: auto;
}
.about .carousel-content h3 {
    font-weight: bold;
}
.about .carousel-caption {
    right: 20px;
    bottom: 20px;
    left: auto;
    padding-top: 0;
    padding-bottom: 0;
}
.about .carousel-caption img {
    width: 155px;
    height: auto;
}
@media (min-width: 992px) {
    .about {
        padding: 75px 0;
    }
    .about .modelo {
        min-height: 400px;
    }
    .about .modelo::after {
        display: none;
    }
    .about h2 {
        color: #575b52;
        padding: 0;
        margin: 0;
    }
    .about .bg-carousel-green {
        background-color: #ebf2c2;
    }
    .about .carousel-indicators {
        flex-direction: column;
        min-height: 400px;
    }
    .about .carousel-indicators li {
        font-size: 16px;
        text-align: left;
        background-color: #fff;
    }
    .about .carousel-indicators li span {
        margin: 0 30px;
        padding: 15px 0 14px 0;
        border-bottom: 1px solid #f8f8f8;
    }
    .about .carousel-indicators li.active span {
        color: #bdd074;
    }
    .about .carousel-indicators li::after {
        width: 3px;
        height: 0;
        top: 50%;
        right: 1px;
    }
    .about .carousel-content {
        padding: 80px 100px;
        min-height: 400px;
    }
    .about .carousel-indicators li::after {
        content: '';
        position: absolute;
        width: 3px;
        height: 0;
        top: 50%;
        right: 1px;
        background-color: #FFF;
        transition: .6s ease-in-out;
    }
    .about .carousel-indicators li.active::after {
        width: 3px;
        height: 100%;
        top: 0;
        right: 1px;
        background-color: #575b52;
        transition: .6s ease-in-out;
    }
    .about .carousel-caption {
        right: -110px;
        bottom: -60px;
        left: auto;
        padding-top: 0;
        padding-bottom: 0;
    }
    .about .carousel-caption img {
        width: 220px;
        height: auto;
    }
}
.benefits {
    position: relative;
    background-color: #FFFAF5;
    padding: 50px 0;
    overflow: hidden;
}
.benefits h2 {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}
.benefits .elements {
    position: relative;
    padding: 50px 0;
    background: url("../../images/leaf_mobile_5.png") center no-repeat;
    background-size: contain;
}
.benefits .elements .floating {
    position: absolute;
    padding: 25px;
    max-width: 320px;
    background: #FFFFFF;
    box-shadow: 0px 11.7795px 41.4256px #FFFAF5, 0px 100px 185px rgba(0, 0, 0, 0.16);
    font-weight: normal;
    font-size: 12px;
    z-index: 5;
    display: none;
}
.benefits .elements .floating h4 {
    font-weight: bold;
    font-size: 15px;
    color: #575B52;
    padding: 10px 0;
    margin: 0;
}
.benefits .benefits--products {
    position: relative;
    width: 320px;
    height: 320px;
    margin: 0 auto;
    background: url("../../images/bg-benefits.png") center no-repeat;
    background-size: cover;
    z-index: 2;
}
.benefits .benefits--products .ball {
    position: absolute;
    width: 320px;
    height: 320px;
    top: 0;
    left: 0;
    z-index: 20;
}
.benefits .benefits--products .ball-01 {
    background: url("../../images/ball-01.png") center no-repeat;
    background-size: cover;
    animation: Ball 5s linear infinite;
}
.benefits .benefits--products .ball-02 {
    background: url("../../images/ball-01.png") center no-repeat;
    background-size: cover;
    animation: Ball 5s linear infinite reverse;
}
.benefits .benefits--products .ball-03 {
    background: url("../../images/ball-02.png") center no-repeat;
    background-size: cover;
    animation: Ball 8s linear infinite reverse;
}
.benefits .benefits--products .products {
    position: absolute;
    width: 280px;
    height: 232px;
    top: 50%;
    left: 50%;
    margin: -116px 0 0 -140px;
    background: url("../../images/3-cell-benefits.png") center no-repeat;
    background-size: contain;
    z-index: 25;
}
.benefits #floatingMobile .floating {
    padding: 25px;
    margin: 25px;
    background: #FFFFFF;
    box-shadow: 0px -10px 10px #FFFAF5, 0px 10px 10px rgba(0, 0, 0, 0.113895);
    font-weight: normal;
    font-size: 12px;
}
.benefits #floatingMobile .floating h4 {
    font-size: 15px;
    color: #575B52;
    padding: 10px 0;
    margin: 0;
}
.benefits .swiper-button-next,
.benefits .swiper-button-prev {
    color: #575B52;
    transform: scale(0.7);
}
.benefits .swiper-button-next {
    right: 0;
}
.benefits .swiper-button-prev {
    left: 0;
}
.floating-1 {
    top: 0;
    left: -50px;
}
.floating-2 {
    bottom: 100px;
    left: -50px;
}
.floating-3 {
    top: 50px;
    right: 0;
}
.floating-4 {
    bottom: 25px;
    right: 0;
}
.leafs-benefits {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 900;
    pointer-events: none;
    display: none;
}
.leafs-benefits img {
    position: absolute;
}
.leaf_b_1 {
    top: -10%;
    left: 25%;
}
.leaf_b_2 {
    top: 30%;
    left: -15%;
}
.leaf_b_3 {
    bottom: 35%;
    right: -12%;
}
@media (min-width: 992px) {
    .benefits {
        padding: 75px 0;
    }
    .benefits .elements {
        background: transparent;
    }
    .benefits .benefits--products {
        width: 680px;
        height: 680px;
        margin: 5rem auto;
    }
    .benefits .benefits--products .ball {
        width: 680px;
        height: 680px;
    }
    .benefits .benefits--products .products {
        width: 435px;
        height: 360px;
        margin: -180px 0 0 -217px;
    }
    .benefits .elements .floating {
        display: block;
    }
    .leafs-benefits {
        display: block;
    }
}
@keyframes Ball {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(180deg);
        ;
    }
    100% {
        transform: rotate(360deg);
    }
}
.smash-benefits {
    position: relative;
    max-width: 100%;
    min-height: 500px;
    background: url("../../images/bg-smash-media.jpg") 20% center repeat fixed;
    background-size: cover;
}
.leaf_9 {
    top: -50%;
    left: -30%;
}
.leaf_10 {
    bottom: 20%;
    right: -30%;
}
.leaf_11 {
    bottom: 5%;
    left: -15%;
}
.smash {
    position: relative;
    background: url("../../images/bg-smash.png") top center no-repeat #fefff9;
    background-size: auto;
    padding: 40px 0;
    overflow: hidden;
}
.smash h2 {
    font-weight: bold;
    font-size: 24px;
    text-align: center;
    color: #1A191E;
}
.smash .image--smash {
    position: relative;
    width: 290px;
    height: 319px;
    margin: 20px auto 0 auto;
}
.smash .image--smash::before {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: url("../../images/descubra-front.png") top center repeat;
    background-size: cover;
    z-index: 6;
    animation: Smashfront 8.0s ease-in-out infinite;
}
.smash .image--smash::after {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: url("../../images/descubra-back.png") top center repeat;
    background-size: cover;
    z-index: 5;
    animation: Smashback 5.0s ease-in-out infinite;
}
.leafs-mobile-smash {
    position: absolute;
    width: 100%;
    height: 100%;
    pointer-events: none;
    display: none;
}
.leafs-mobile-smash img {
    position: absolute;
}
.leafs-mobile-smash .leaf_mobile_7 {
    top: 2%;
    left: -5px;
}
.leafs-mobile-smash .leaf_mobile_8 {
    right: 0;
    top: 45%;
}
.leafs-smash {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 900;
    pointer-events: none;
    display: none;
}
.leafs-smash img {
    position: absolute;
}
.leaf_12 {
    bottom: 20%;
    right: -10%;
}
@keyframes Smashback {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(10deg);
    }
    100% {
        transform: rotate(0deg);
    }
}
@keyframes Smashfront {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(-10deg);
    }
    100% {
        transform: rotate(0deg);
    }
}
@media (min-width: 992px) {
    .smash {
        padding: 0;
        background-size: cover;
        overflow: initial;
    }
    .smash .image--smash {
        width: 356px;
        height: 391px;
        margin: -80px auto -50px auto;
        background-repeat: repeat;
        background-size: cover;
    }
    .leafs-smash {
        display: block;
    }
}

.leaf_13 {
    top: -400px;
    left: -35%;
}
.products {
    position: relative;
    padding: 40px 0;
    background-color: #FCF9EE;
    overflow: hidden;
}
.products h2 {
    font-weight: bold;
    font-size: 16px;
    text-align: left;
    text-transform: uppercase;
    color: #575B52;
    line-height: 1.5rem;
    max-width: 280px;
}
.products h3 {
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    color: #575B52;
}
.products .product {
    border: 1px solid rgba(94, 110, 83, 0.2);
    box-sizing: border-box;
    border-radius: 10px;
    padding: 30px 10px;
    background-color: white;
}
.product--offer {
    font-family: 'Montserrat', sans-serif;
    transition: all .8s ease-in-out;
    transform: translateZ(20px);
    position: absolute;
    width: 200px;
    top: -15px;
    left: 50%;
    margin-left: -100px;
    display: block;
    background-color: #FFF;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    font-weight: bold;
    font-size: 12px;
    text-transform: uppercase;
    color: #575B52;
    padding: 4px 25px;
}
.products .product h4 {
    font-family: 'Montserrat', sans-serif;
    transition: all .5s ease-in-out;
    transform: translateZ(20px);
    font-weight: bold;
    font-size: 22px;
    text-transform: uppercase;
    color: #575B52;
    text-align: center;
}
.products .info {
    font-weight: normal;
    font-size: 11px;
    color: #575B52;
    text-align: center;
    display: block;
    padding: 0;
    display: block;
}
.products .bg-offer {
    background-color: #DEF073;
}
.products .bg-offer .content {
    border-bottom: 3px solid #fff;
}
.products .btn-buy {
    background: linear-gradient(180deg, #FFEE51 0%, #FCFF74 92.19%);
}
@media (min-width: 992px) {
    .products {
        padding: 100px 0;
        background-color: white;
    }
    .products h2 {
        font-size: 22px;
        text-align: center;
        max-width: 100%;
    }
    .products .btn-buy {
        background: linear-gradient(180deg, #DDEF6D 0%, #BDD074 92.19%);
    }
    .products .info {
        font-size: 12px;
    }
}
.product {
    transform-style: preserve-3d;
    font-family: 'Heebo', sans-serif;
}
.product .product-bg,
.product .product--offer-bg {
    position: relative;
    background-color: #DEF073;
    border-radius: 10px;
    height: 215px;
    transition: all .4s ease-in-out;
}
.product img {
    transform-style: preserve-3d;
    transition: all .5s ease-in-out;
    transform: translateZ(20px);
}
.product .product-price b {
    display: block;
}
.product .product--offer-bg {
    background-color: #FFF;
}
.product .product-price {
    position: absolute;
    width: 80px;
    height: 80px;
    top: 50%;
    right: -20px;
    margin-top: -40px;
    padding-top: 23px;
    border-radius: 50%;
    background: #FFFFFF;
    border: 5px solid #DEF073;
    box-shadow: 0px 1.70748px 4.5288px rgba(0, 0, 0, 0.015712), 0px 2.97443px 12.5216px rgba(0, 0, 0, 0.0283505), 0px 23.3533px 30.1471px rgba(0, 0, 0, 0.0406084), 0px 72px 100px rgba(0, 0, 0, 0.07);
    transform: matrix(1, -0.01, 0.01, 1, 0, 0);
    transition: all .5s ease-in-out;
    transform: translateZ(40px);
    color: #575B52;
    font-size: 12px;
    line-height: 15px;
}
.product .content {
    padding: 5px 0;
    font-weight: normal;
    font-size: 14px;
    display: block;
    text-align: center;
    margin: 5px 0;
    border-bottom: 3px solid rgba(234, 235, 230, 0.5);
}
.product--offer .content {
    border-bottom: 3px solid rgba(256, 256, 256, 1);
}
.product .price-old {
    margin: 20px 0 10px 0;
}
/*display: none; }*/
.product .from {
    margin: 10px 0 10px 0;
    font-weight: normal;
    font-size: 18px;
    display: block;
    color: #666;
}
.bg-offer .from {
    color: #666;
}
.product .to {
    font-weight: normal;
    font-size: 18px;
    display: block;
    margin-top: 30px;
    line-height: 1.5rem;
}
.product .to b {
    font-size: 58px;
    font-weight: 700;
}
.product .to b b {
    font-size: 18px;
    font-weight: 700;
}
@media (min-width: 992px) {

    .product .product-price {
        width: 100px;
        height: 100px;
        right: -60px;
        padding-top: 33px;
        margin-top: -50px;
    }
}
.img-1-mes {
    margin-top: -25px;
    margin-bottom: 25px;
}
.img-3-meses {
    margin-top: -25px;
    margin-bottom: 25px;
    max-width: 240px;
}
.img-6-meses {
    margin-top: 25px;
    margin-bottom: 25px;
    max-width: 220px;
}
.challenge {
    position: relative;
    background-color: #DEF073;
    padding: 40px 0;
}
.challenge .bg-challenge {
    position: absolute;
    width: 100%;
    height: 22%;
    background: url("../../images/bg-challenge.png") top center repeat;
    mix-blend-mode: multiply;
    bottom: 0;
}
.challenge h2 {
    font-weight: bold;
    font-size: 30px;
    line-height: 37px;
    text-transform: uppercase;
    color: #575B52;
}
.challenge p {
    font-weight: normal;
    font-size: 16px;
}
.challenge .info {
    font-weight: 600;
    font-size: 12px;
}
.leafs-challenge {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 900;
    pointer-events: none;
    display: none;
}
.leafs-challenge img {
    position: absolute;
}
.leaf_14 {
    top: 0;
    left: -15%;
}
@media (min-width: 992px) {
    .leafs-challenge {
        display: block;
    }
}
.doubts {
    position: relative;
    padding: 70px 0;
    background-color: #bdd074;
}
.doubts .bg-doubts {
    position: absolute;
    width: 100%;
    height: 100%;
    right: 0;
    top: 0;
    background: url("../../images/bg-doubts.jpg") top center repeat;
    background-size: 200%;
}
.doubts h2 {
    color: white;
    font-weight: bold;
    font-size: 18px;
    line-height: 1.5rem;
}
.doubts .accordion {
    margin: 0;
    padding: 0;
    list-style: none;
}
.doubts .accordion li {
    position: relative;
    border-bottom: 1px solid #fff;
}
.doubts .accordion li::before {
    content: '';
    position: absolute;
    width: 16px;
    height: 25px;
    top: 50%;
    right: 15px;
    margin-top: -12.5px;
    background: url("../../images/accordion-arrow.png") center repeat;
    transform: rotate(180deg);
    transition: .5s;
}
.doubts .accordion a {
    position: relative;
    padding: 30px 0;
    display: block;
    color: #FFF;
    font-weight: bold;
    font-size: 18px;
    transition: .5s;
}
.doubts .accordion li.active a {
    padding: 50px 0 20px 0;
    transition: .5s;
}
.doubts .accordion li.active::before {
    transform: rotate(360deg);
    transition: .5s;
}
.doubts .accordion a:hover {
    text-decoration: none;
}
.doubts .accordion .inner {
    max-width: 600px;
    overflow: hidden;
    display: none;
    padding-bottom: 30px;
    padding-right: 50px;
    color: #FFF;
}
.leafs-doubts {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 900;
    pointer-events: none;
    display: none;
}
.leafs-doubts img {
    position: absolute;
}
.leaf_15 {
    bottom: 0;
    right: -15%;
}
@media (min-width: 992px) {
    .doubts {
        padding: 170px 0;
    }
    .doubts .bg-doubts {
        width: 38%;
        background-size: auto;
    }
    .doubts h2 {
        font-size: 30px;
        line-height: 2rem;
    }
    .doubts .accordion a {
        color: #575B52;
        padding: 50px 0;
        font-size: 20px;
    }
    .doubts .accordion .inner {
        color: #575B52;
    }
    .leafs-doubts {
        display: block;
    }
}
.information {
    position: relative;
    padding: 40px 0;
    background-color: #bdd074;
    overflow: hidden;
}
.information h2 {
    font-weight: bold;
    font-size: 14px;
    line-height: 1.4rem;
    text-transform: uppercase;
}
.information h2 nobr {
    white-space: normal;
}
.information .swiper-slide img {
    filter: invert(100%) brightness(2000%);
}
.information .swiper-button-next,
.information .swiper-button-prev {
    color: #575B52;
    transform: scale(0.6);
}
.information .swiper-button-next {
    right: 0;
}
.information .swiper-button-prev {
    left: 0;
}
@media (min-width: 992px) {
    .information {
        padding: 140px 0;
        background-color: #FFF;
        overflow: auto;
    }
    .information h2 {
        font-size: 30px;
        line-height: 2.6rem;
    }
    .information h2 nobr {
        white-space: nowrap;
    }
    .information .swiper-slide img {
        filter: invert(0) brightness(100%);
    }
}
footer {
    background-color: #575B52;
    padding: 60px 0;
    color: white;
    font-size: 14px;
    line-height: 1.8rem;
}
footer .container {
    position: relative;
}
footer .btn-footer {
    position: absolute;
    top: -96px;
    right: 72px;
    padding: 4px 10px;
    text-align: center;
    background: #BDD074;
    box-shadow: 0px 3.97091px 6.88333px rgba(0, 0, 0, 0.39), 0px 51px 56px rgba(0, 0, 0, 0.194944);
}
footer .btn-footer img {
    width: 12px;
}
footer .leafs-mobile-footer {
    position: absolute;
    width: 100%;
}
footer .leafs-mobile-footer .leaf_mobile_10 {
    position: absolute;
    right: 0;
    top: 0;
}
footer a {
    color: white;
    margin-right: 15px;
}
footer a:hover {
    color: #BDD074;
}
footer h3 {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.5rem;
}
footer .btn--newsletter {
    display: block;
    background-color: #BDD074;
    border-radius: 2px;
    padding: 6px 24px;
    margin: 0;
    font-weight: normal;
    font-size: 14px;
    color: white;
    text-align: center;
}
footer .btn--newsletter:hover {
    text-decoration: none;
}
.smash-mobile {
    background-color: #FFF;
    background: url("../../images/bg-challenge.png") top center repeat;
    mix-blend-mode: multiply;
    padding: 45px 0;
}
@media (min-width: 992px) {
    footer h3 {
        font-size: 26px;
        line-height: 1.8rem;
    }
    footer .btn--newsletter {
        display: inline-block;
        background-color: white;
        color: #000;
        padding: 12px 24px;
        font-weight: bold;
    }
}
.btn-footer {
    padding: 15px 0;
    text-align: center;
    background: #BDD074;
    box-shadow: 0px 3.97091px 6.88333px rgba(0, 0, 0, 0.39), 0px 51px 56px rgba(0, 0, 0, 0.194944);
}
.percent-desconto {
    background-color: #ececec;
    border-radius: 5px;
    color: #fff;
    width: max-content;
    padding: 1px 20px;
    display: inline-flex;
    margin: 0px 0px 15px 0px;
    color: #333;
}
.form-input-vsl {
    width: 100%;
    min-height: 40px;
    padding: 8px;
    border-radius: 7px;
    border: solid 1px #dadada;
    margin: 10px 0px;
    background-color: #f9f9f9;
    text-align: center;
    font-size: 16px;
    color: #666;
}
.text-vsl {
    color: #000;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: bold;
    margin-top: 5%;
    margin-bottom: 5%;
    overflow: hidden;
    text-transform: uppercase;
}


  